body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('../img/image\ \(1\).png');
    background-size: cover;
}
h1 {
    margin: ;
    font-size: 30px;
    color: #f604e5;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}
h2{
    margin: ;
    font-size: 24px;
    color: #000000;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;  
}
a {
    text-decoration: none;
    color: inherit; /* dette er for å fjerne strekken under øveskriften(h1) */
}
#game-container {
    background-color: rgba(241, 240, 241, 0.8); /* Legg til en bakgrunnsfarge med gjennomsiktighet over bildet */
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 600px;
}

#color-box {
    width: 500px;
    height: 300px;
    margin: 30px;
    border: 2px solid #000;
}

#input-field {
    margin-top: 10px;
    padding: 5px;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}
.back-button {
    background-color: #f604e5;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
  }
  .back-button:hover {
    background-color: #f604e5;
  }
