body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/image\ \(1\).png'); 
    background-size: cover;
    background-position: center;
}

header {
    background-color: rgba(27, 26, 26, 0.8); /* Juster gjennomsiktigheten */
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #f604e5;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}

.image-box {
    text-align: center;
    margin: 10px; /*avstand mellom bildene */
}

.image-box img {
    width: 200px; /* Juster bredden */
    height: auto;
    border-radius: 8px;
}

.image-box p {
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
}
.back-button {
    background-color: #d911eb;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.back-button:hover {
    background-color: #d911eb;
}
a {
    text-decoration: none;
    color: inherit; /* Behold fargen fra foreldreelementet (h1) */
}
#muteButton {
    background-color: #f604e5;
    padding: 5px 10px;
    font-size: 16px;
    font-size: 20px;
    position: fixed;
    top: 0;
    right: 0;
}