body{
    background-image: url("../img/image\ \(1\).png");
    background-size: cover;
}
h1 {
    font-size: 30px; /* Endre størrelsen på overskriften */
    color: #f604e5;    /* Endre tekstfargen */
    font-family: Arial, sans-serif; /* Endre fonten */
    font-weight: bold; /* Gjør teksten fet */
    text-align: center; /* Senter teksten*/
}
h2{
    font-size: 25px;
    color: #000000;    
    font-family: Arial, sans-serif; 
    font-weight: bold;
    text-align: center;
}
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
}

.game-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
}

#pc-status {
    margin-bottom: 20px;
    font-weight: bold;
}

.back-button {
    background-color: #a642ba;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 15px;
}

.back-button:hover {
    background-color: #7e5393;
}
header a {
    text-decoration: none; /* Fjern understrekning */
    color: inherit; /* Behold fargen fra foreldreelementet (header) */
}

