/* Setter opp generelle stiler for hele nettsiden */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-image: url('../img/image.png'); /* bakgrunnsbilde */
    background-size: cover;
    background-position: center;
}

/* Stiler for header-seksjonen */
header {
    background-color: rgba(0, 0, 0, 0.8); /* Juster gjennomsiktigheten etter ønske */
    color: #fff;
    padding: 30px;
    text-align: center;
}

/* Stiler for hovedoverskriften (h1) */
h1 {
    margin: 0;
    font-size: 24px;
    color: #f604e5;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* Stiler for navigasjonsmenyen (topnav) */
.topnav {
    background-color: rgba(51, 51, 51, 0.8); /* Juster gjennomsiktigheten etter ønske */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0px;
}

/* Stiler for lenkene i navigasjonsmenyen */
.topnav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

/* Stiler for søkefeltet og søkeresultatene */
.search {
    position: relative; /* Endret til relative for å være referanse for #searchResult */
}

.search input {
    padding: 5px;
    width: 200px;
}

#searchResult {
    position: absolute;
    top: 100%; /* Plasserer søkeresultatene rett under søkefeltet */
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    display: none; /* Skjuler søkeresultatene som standard */
}

/* Stiler for søkeresultat-lenker */
#searchResult a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #0c0c0c;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s;
}

#searchResult a:hover {
    background-color: #f9f9f9;
}

/* Vis søkeresultatene når det er innhold i resultContainer */
#searchResult:not(:empty) {
    display: block;
}

/* Stiler for dropdown-menyer */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 1px;
}

.dropdown-content a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Stiler for sentrert innhold */
.center-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

/* Stiler for bokser som inneholder bilder og tekst */
.image-box {
    text-align: center;
    display: grid;
    width: 200px; /* Legg til en fast bredde for å hindre at bildene strekker seg */
    margin: 0 10px; /* Legg til ønsket avstand mellom bildene */
}

.image-box img {
    width: 100%; /* Endre bredden til 100% for å tilpasse seg bredden på .image-box */
    height: auto;
    border-radius: 8px;
}

.image-box p {
    margin-top: 1px;
    font-size: 19px;
    color: #fff;
}

/* Generelle stiler for lenker */
a {
    text-decoration: none;
    color: inherit; /* dette er for å fjerne streken under øveskriften(h1) */
}

/* Stiler for en spesiell knapp med ID muteButton */
#muteButton {
    background-color: #f604e5;
    padding: 5px 10px;
    font-size: 16px;
    font-size: 20px;
    position: fixed;
    top: 0;
    right: 0;
}
